
.bold{
    font-weight: bold;
}

.chiTietSP{
    display: flex;
    background-color: rgb(255, 254, 254);
    min-height: 200px;
    padding: 2% 18%;
}
.Containerimage{
    width: 50%;
    background-color: blue;
}
.Containerimage>img{
    width: 100%;
    height: 100%;
}
.containerInfor{
    padding: 2%;
    width: 50%;
    /* background-color: aqua; */
}
.name{
    font-weight: bold;
    font-size: 26px;
}
.kichco{

    border-top: 1px solid rgb(54, 53, 53);
}
.kichco, .soluong{
    display: flex;
    font-size: 20px;
    align-items: center;
    padding-top: 20px;
}

.text, .txtsl{
    height: 100%;
    padding-right: 10px;
    justify-content: center;
}
.boxsl{
    width: 10%;
}
.gia{
    padding-top: 3px;
    color: #ed5151;
    font-weight: bold;
    font-size: 20px;
}
.img_sp{
    width: 60%;
}

.small_img{
    display: flex;
    justify-content:space-around;
}
.big_img img{
    width: 100%;
}
.small_img img{
    width: 25%;
}
.img_sp{
    padding: 10px;
}
.info_sp{
    width: 40%;
    padding: 10px;
}
.name{
    height: 10%;
}
.maSP{
    height: 10%;
    display: flex;
    justify-content: left;
    align-items: center;
}
.maSP p{
    font-size: 21px;
}
.maSP span{
    font-size: 21px;
    font-weight: bold;
    margin-left: 10px;
}
.moTa{
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px grey dotted;
    border-bottom: 1px grey dotted;
}
.moTa p{
    font-size: 18px;
    text-align: justify;
}
.size_soLuong{
    height: 20%;
    display: flex;
    justify-content: space-between;
    padding: 10px 0px;
}
.size{
    height: 40px;
    width: 60px;
}
.soLuong{
    width: 45%;
}
.soLuong input{
    height: 50px;
    width: 100%;
    border-radius: 0;
    font-size: 17px;
    border:0.5px grey dotted;
}
.size select{
    height: 50px;
    width: 100%;
    border-radius: 0;
    font-size: 17px;
}

.buttons_added {
    opacity:1;
    display:inline-block;
    display:-ms-inline-flexbox;
    display:inline-flex;
    white-space:nowrap;
    vertical-align:top;
}
.is-form {
    overflow:hidden;
    position:relative;
    background-color:#f9f9f9;
    height:2.2rem;
    width:1.9rem;
    padding:0;
    text-shadow:1px 1px 1px #fff;
    border:1px solid #ddd;
}
.is-form:focus,.input-text:focus {
    outline:none;
}
.is-form.minus {
    border-radius:4px 0 0 4px;
}
.is-form.plus {
    border-radius:0 4px 4px 0;
}
.input-qty {
    width: 2.5rem;
    background-color:#fff;
    height:2.05rem;
    text-align:center;
    font-size:1rem;
    display:inline-block;
    vertical-align:top;
    margin:0;
    border-top:1px solid #ddd;
    border-bottom:1px solid #ddd;
    border-left:0;
    border-right:0;
    padding:0;
}
.input-qty::-webkit-outer-spin-button,.input-qty::-webkit-inner-spin-button {
    -webkit-appearance:none;
    margin:0;
}
.btn{
    padding-top: 20px;
}
.themVaoGio{
    border:  1px solid black;
    background-color: black;
    color: white;
    width: 200px;
    height: 40px;
}
.thanhToan{
    border: none;
    background-color: #e34848;
    color: white;
    width: 200px;
    height: 40px;
}
.thanhToan:hover{
    opacity: 80%;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}


.themVaoGio:hover{
    background-color: white;
    color: black;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.SoLuongSP{
    background-color: red;
    color: white;
    position: absolute;
    top: -40%;
    left: 80%;
    padding-top: 5px;
    align-items: center;
    text-align: center;
    font-size: 15px;
    width: 20px;
    height: 20px;
    clip-path: ellipse(50% 40%);
}
.GioHang{
    position: relative;
}
.acc{
    position: relative;
}



.alert{
    position: absolute;
    background-color:rgb(85, 212, 85);
}
@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");
/* button{
          padding: 8px 16px;
          font-size: 25px;
          font-weight: 500;
          border-radius: 4px;
          border: none;
          outline: none;
          background: #e69100;
          color: white;
          letter-spacing: 1px;
          cursor: pointer;
        } */
.alert-green {
	background: #c5f3d7;
	padding: 20px 40px;
	min-width: 420px;
	position: absolute;
	right: 0;
	top: 10px;
	border-radius: 4px;
	border-left: 8px solid #2dd86f;
	overflow: hidden;
    display: none;
	opacity: 0;
	pointer-events: none;
}
.alert-green.showAlert {
	opacity: 1;
	pointer-events: auto;
}
.alert-green.show {
	animation: show_slide 1s ease forwards;
}
@keyframes show_slide {
	0% {
		transform: translateX(100%);
	}
	40% {
		transform: translateX(-10%);
	}
	80% {
		transform: translateX(0%);
	}
	100% {
		transform: translateX(-10px);
	}
}
.alert-green.hide {
	animation: hide_slide 1s ease forwards;
}
@keyframes hide_slide {
	0% {
		transform: translateX(-10px);
	}
	40% {
		transform: translateX(0%);
	}
	80% {
		transform: translateX(-10%);
	}
	100% {
		transform: translateX(100%);
	}
}
.alert-green .fa-check-circle {
	position: absolute;
	left: 20px;
	top: 50%;
	transform: translateY(-50%);
	color: #3d7c4c;
	font-size: 30px;
}
.alert-green .msg {
	padding: 0 20px;
	font-size: 18px;
	color: #68b87a;
}
.alert-green .close-btn-green {
	position: absolute;
	right: 0px;
	top: 50%;
	transform: translateY(-50%);
	background: #94eab9;
	padding: 20px 18px;
	cursor: pointer;
}
.alert-green .close-btn-green:hover {
	background: #22af5f;
}
.alert-green .close-btn-green .fas {
	color: #08813c;
	font-size: 22px;
	line-height: 40px;
}
/*red alert*/
.alert-red {
	background: #ffe1e3;
	padding: 20px 40px;
	min-width: 420px;
	position: absolute;
	right: 0;
	top: 10px;
	border-radius: 4px;
	border-left: 8px solid #ff4455;
	overflow: hidden;
	opacity: 0;
	pointer-events: none;
}
.alert-red.showAlert {
	opacity: 1;
	pointer-events: auto;
}
.alert-red.show {
	animation: show_slide 1s ease forwards;
}
@keyframes show_slide {
	0% {
		transform: translateX(100%);
	}
	40% {
		transform: translateX(-10%);
	}
	80% {
		transform: translateX(0%);
	}
	100% {
		transform: translateX(-10px);
	}
}
.alert-red.hide {
	animation: hide_slide 1s ease forwards;
}
@keyframes hide_slide {
	0% {
		transform: translateX(-10px);
	}
	40% {
		transform: translateX(0%);
	}
	80% {
		transform: translateX(-10%);
	}
	100% {
		transform: translateX(100%);
	}
}
.alert-red .fa-times-circle {
	position: absolute;
	color: #fb4c59;
	left: 20px;
	top: 50%;
	transform: translateY(-50%);
	font-size: 30px;
}
.alert-red .msg {
	padding: 0 20px;
	font-size: 18px;
	color: #ec637f;
}
.alert-red .close-btn-red {
	position: absolute;
	right: 0px;
	top: 50%;
	transform: translateY(-50%);
	background: #ff99a4;
	padding: 20px 18px;
	cursor: pointer;
}
.alert-red .close-btn-red:hover {
	background: #fe4957;
}
.alert-red .close-btn-red .fas {
	color: #ee0e21;
	font-size: 22px;
	line-height: 40px;
}
.SLKHL
{
    color: rgb(238, 59, 59);
    font-size: 12px;
}
.ma{
    padding: 5px 0;;
}
