.content{
    margin-top: 20px;
    min-width: 100%;
    min-height: 600px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.noi_dung{
    padding-bottom: 20px;
    width: 60%;
    min-height: 500px;
    background-color: #f2f2f2;
    border-radius: 5px;
    justify-content: center;

}
.TieuDe{
    margin-top: 20px;
    font-size: 40px;
    height: 20%;
    width: 50%;
    margin-left: 25%;
    text-align: center;
}

.form_check_DH{
    margin-top: 20px;
    width: 50%;
    font-size: 18px;
    margin-left: 25%;
}
.Label{
    padding-right: 10px;
}
.center{
    margin-left: auto;
    margin-right: auto;
    line-height: 40px;
    align-items: center;
}
.btn{
    width: 200px;
    height: 40px;
    margin-left: 25%;
    font-size: 20px;
    margin-top: 20px;
    height: 20%;
    width: 40%;
    margin-left: 30%;
    text-align: center;
    line-height: 50px;
    background-color: #e34848;
    color: white;
    border: none;
}
.btn:hover{

    background-color: black;
    transition: all 0.3s ease-in-out;
}
.MaDH{
    font-size: 20px;
    width: 100%;
    height: 27px;
    margin-right: 40px;
}
.maincontent h1{
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}
.customer-info{
    width: 95%;
    margin: auto;
    margin-bottom: 20px;
}
.customer-info table{
  width: 100%;
}
.customer-info table th{
  text-align: left;
  padding: 5px;
}
.customer-info table td{
  padding: 5px;
}
.user-list{
  width: 100%;
  border-collapse: collapse;
  margin: auto;
  text-align: center;
}
.table-list{
  width: 95%;
  margin: auto;
}
.user-list th{
    padding: 5px;
}
.user-list td{
    padding: 5px;
}
.btn-add{
  background-color: #3366ff;
  border-radius: 3px;
  width: 130px;
  height: 30px;
  border: none;
  margin-top: 80px;
  font-size: 14px;
}
.btn-add:hover{
  opacity: 90%;
}
.btn-add a{
  text-decoration: none;
  color: white;
  display: block;
  line-height: 30px;
}
.back-to-list{
  text-decoration: none;
  display: inline-block;
  color: #139ddd;
  font-size: 18px;
  margin-top: 20px;
}
.back-to-list:hover{
  color: black;
  transition: all 0.3s ease-in-out;
}
.message{
  width: 95%;
  height: 50px;
  margin: auto;
  line-height: 50px;
  font-size: 18px;
  background-color: rgb(215, 250, 229);
  text-align: center;
  border-radius: 5px;
  margin-top: 30px;
}
.order-status{
  width: 300px;
  position: absolute;
  right: 10px;
  font-size: 16px;
  margin-top: 20px;
}
.status{
  width: 200px;
  height: 30px;
  font-size: 16px;
  padding-left: 10px;
  margin-top: 5px;
}
.btn-status{
  width: 50px;
  height: 30px;
  border: none;
  background-color:#ffcc00;
  border-radius: 3px;
  font-weight: bold;
}
.btn-status:hover{
  opacity: 70%;
  cursor: pointer;
}

.btn-del{
  background-color: red;
  width: 40px;
  height: 30px;
  border-radius: 3px;
  border: none;
  
}
.btn-del a{
  text-decoration: none;
  color: white;
  display: block;
  font-weight: bold;
  line-height: 30px;
}
.btn-del:hover{
  opacity: 70%;
}
.btn-detail{
  background-color: #ffcc00;
  width: 70px;
  height: 30px;
  border-radius: 3px;
  border: none;
}
.btn-detail a{
  text-decoration: none;
  color: black;
  display: block;
  font-weight: bold;
  line-height: 30px;
  
}
.btn-detail:hover{
  opacity: 70%;
}
.huy{
  text-align: right;
  margin: 10px;
}